{
  "version": 1.0,
  "inputs": [
    {
      "input_type": "image",
      "id": "input_image"
    },
    {
      "input_type": "dropdown",
      "id": "selection",
      "values": ['JoJo', 'Disney','Jinx','Caitlyn','Yasuho','Arcane Multi','Art','Spider-Verse']
      "default": "JoJo"
     }
  ],
  "outputs": [
    {
      "output_type": "image",
      "id": "animated_image"
    }
  ]
}