{
 "version": 1.0,
 "inputs": [
    {
      "input_type": "text",
      "id": "input_text"
    },
    {
      "input_type": "dropdown",
      "id": "src_selection",
      "values": [
          {"id": "en", "value": "English"},
          {"id": "jp", "value": "Japanese"},
          {"id": "hi", "value": "Hindi"}
      ]
    },
    {
      "input_type": "dropdown",
      "id": "target_selection",
      "values": [
          {"id": "en", "value": "English"},
          {"id": "jp", "value": "Japanese"},
          {"id": "hi", "value": "Hindi"}
      ]
    }
  ],
  "outputs": [
    {
      "output_type": "text",
      "id": "translated_text"
    }
  ]
}