{
  "version": 1.0,
  "inputs": [
    {
      "input_type": "image",
      "id": "input_image"
    },
    {
      "input_type": "radio",
      "id": "selection",
      "values": ["Image Captioning","Visual Question Answering"]
      "default":"Image Captioning"
    },
    {
      "input_type": "text",
      "id": "question",
      "optional": True,
    }
  ],
  "outputs": [
    {
      "output_type": "text",
      "id": "caption_text"
    }
  ]
}
